mixin sidemenu(_title)
	nav.sidemenu(data-sticky-sidemenu)
		.sidemenu-title=_title
		ul
			li
				a(href="") Sidemenu item
					i.icon.icon--right
			li.is-active
				a(href="") Sidemenu item 2
					i.icon.icon--right
			li
				a(href="") Sidemenu item 3 longer title highly possible
					i.icon.icon--right


mixin staff(_img, _name, _position, _quote)
	.row
		section.staff
			.col-sm-4
				.media
					a(href=_img, data-lightbox)
						img(src=_img, alt=_name+" - "+_position)
			.col-sm-8
				blockquote=_quote
				div.staff-name.theme-color-primary=_name
				div.staff-position=_position